ipykernel
streamlit
langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
arxiv
wikipedia
langchainhub
duckduckgo-search
SQLAlchemy
mysql-connector-python
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio